
<launch>

  <arg name="postprocessing_file_name" default="handle_turning_demo_postprocess"/>
  <arg name="laser_stitcher_yaml_file" default="handle_turning_demo_ur5"/>

  <rosparam  command="load"  file="$(find laser_stitcher)/data/lidar_ur5_manager/$(arg laser_stitcher_yaml_file).yaml"/>
  <rosparam  command="load"  file="$(find laser_stitcher)/data/postprocessing/$(arg postprocessing_file_name).yaml"/>

	<node
      name    = "laser_stitcher"
      pkg     = "laser_stitcher"
      type    = "laser_stitcher"
      args    = ""
      output  = "screen"
    >
    </node>

	<node
      name    = "lidar_ur5_manager"
      pkg     = "laser_stitcher"
      type    = "lidar_ur5_manager"
      args    = ""
      output  = "screen"
    >
    </node>
    
  <node
    name    = "laser_stitcher_client"
    pkg     = "laser_stitcher"
    type    = "laser_stitcher_client"
    args    = ""
    output  = "screen"
  >
    <param name="postprocessing_file_name" type="str" value="$(arg postprocessing_file_name)" />
  </node>

  <node
      name    = "pointcloud_processing_server"
      pkg     = "pointcloud_processing_server"
      type    = "pointcloud_processing_server"
      args    = ""
      output  = "screen"
    >
    </node>

</launch>
