
<launch>

  <rosparam  command="load"  file="$(find laser_stitcher)/param/basic_settings/basic_servo.yaml"/>
  <!--rosparam  command="load"  file="$(find laser_mapper)/param/output_default.yaml"/-->

	<node
      name    = "laser_stitcher"
      pkg     = "laser_stitcher"
      type    = "laser_stitcher"
      args    = ""
      output  = "screen"
    >
  </node>

	<node
      name    = "lidar_servo_manager"
      pkg     = "laser_stitcher"
      type    = "lidar_servo_manager"
      args    = ""
      output  = "screen"
    >
  </node>
    
  <node
    name    = "laser_stitcher_client_servo"
    pkg     = "laser_stitcher"
    type    = "laser_stitcher_client_servo"
    args    = ""
    output  = "screen"
  >
  </node>

  <node
      name    = "pointcloud_processing_server"
      pkg     = "pointcloud_processing_server"
      type    = "pointcloud_processing_server"
      args    = "-intensity"
      output  = "screen"
    >
  </node>

</launch>
