
<launch>

  <rosparam  command="load"  file="$(find laser_stitcher)/data/lidar_ur5_manager/lidar_ur5_manager.yaml"/>
  <rosparam  command="load"  file="$(find laser_stitcher)/data/postprocessing/laser_stitcher_postprocess.yaml"/>
  <rosparam  command="load"  file="$(find laser_stitcher)/data/laser_stitcher.yaml"/>

	<node
      name    = "laser_stitcher"
      pkg     = "laser_stitcher"
      type    = "laser_stitcher"
      args    = ""
      output  = "screen"
    >
    </node>

	<node
      name    = "lidar_ur5_manager"
      pkg     = "laser_stitcher"
      type    = "lidar_ur5_manager"
      args    = ""
      output  = "screen"
    >
    </node>
    
  <node
    name    = "laser_stitcher_client"
    pkg     = "laser_stitcher"
    type    = "laser_stitcher_client"
    args    = ""
    output  = "screen"
  >
  </node>

  <node
      name    = "pointcloud_processing_server"
      pkg     = "pointcloud_processing_server"
      type    = "pointcloud_processing_server"
      args    = ""
      output  = "screen"
    >
    </node>

</launch>
